body {
    background-color: #20051f;
}
h1 {
    color: plum;
    font-size: 50px;
}

p {
    color: plum;
    font-size: 25px;
}
h4 {
    color: plum;
}
ul {
    color: plum;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}
.two-column-layout {
    display:grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    display: flex;
}