@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "Raleway", sans-serif;
}

header {
    background-color: #B7B7A4;
    text-align: center;
}

header h1 {
    font-size: 50px;
}

header h3 {
    font-size: 15px;
}

body {
    background-color: #EDDCD2;
    line-height: 1.5;
}

.bodytext {
    line-height: 1.3;
}

.header-box {
  display: flex;
  align-items: center;
}

nav {
  margin-left: auto;
  margin-right: 40px;
}

.nav-links {
    display: flex;         
  gap: 30px;              
  list-style: none;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.nav-links a {
    text-decoration: none;
    color: #6B705C;
}

.nav-links a:hover {
    color: #EDDCD2;
}

img {
    padding: 40px;
    height: 100px;
    border-radius: 50%;
}

footer {
    background-color: #B7B7A4;
    color: #FFF1E6;
    text-align: right;
}

div {
    padding-top: 20px;
}

.button-1 {
    padding: 5px;
    background-color: #A5A58D;
    color: #FFF1E6;
    border: 2px solid #A5A58D;
    border-radius: 20%;
}